@page "/AddCategory"
@using OnlineStore.Web.ViewModels;
@using Services.Interfaces
@inject NavigationManager NavigationManager
@inject IApiService _apiService
<PageTitle>Data</PageTitle>

<h1 class="mb-4">Add new Category</h1>
<div class="form-group mb-2">
    <label for="name">Name</label>
    <input type="text" class="form-control w-50" id="name" placeholder="Please input name" @bind="model.Name">
</div>
<div class="form-group mb-2">
    <label for="description">Description</label>
    <textarea type="text" class="form-control w-50" id="description" placeholder="Input the description" maxlength="200"
        @bind="model.Description"></textarea>
</div>
<div class="form-group mb-2">
    <label for="price">Tag</label>
    <input type="text" class="form-control w-50" id="price" @bind="model.TagName"
        placeholder="Please input the tag name">
</div>

<button type="button" class="btn btn-primary mt-2" @onclick="AddCategoryAsync">Add</button>

@code {
    private CategoryViewModel model { get; set; } 
        = new CategoryViewModel() {
            IsEnabled = true
        };
    private async Task AddCategoryAsync() {
        var result = await _apiService.PostAsync("api/category/Add", model);
         NavigationManager.NavigateTo("/categories");
    }
}