@page "/404"
<div class="card customNotFound">
    <div class="card-body">
        <div class="row">
            <div class="col">
                Sorry sorry ổ bánh mì
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-md-center m-5 text-primary">
            <button type="button" class="btn btn-primary" @onclick="NavigationToHome">Navigate to the Home Page</button>
        </div>
    </div>
</div>