<div class="top-row px-4">
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    <a href="/Account/Register">Register An Account</a>
    <a href="/Account/Login">Login</a>
</div>